<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
  <div class="informacoes">
    <form>
      <h3>Dashboard</h3>

      <p>Usuário logado: <b sec:authentication="name"></b></p>
      <p>Perfil: <b sec:authentication="authorities"></b></p>

      <p>
        <a href="/index"><button type="button">Ir para o menu</button></a>
        <a href="/lista"><button type="button">Lista de carros</button></a>

        <!-- Só GERENTE pode ver o botão de cadastro -->
        <span sec:authorize="hasRole('GERENTE')">
          <a href="/criarCarroForm"><button type="button">Cadastrar carro</button></a>
        </span>

        <a th:href="@{/logout}"><button type="button">Sair</button></a>
      </p>
    </form>
  </div>
</body>
</html>
