<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Seleção de serviço</title>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
  <div class="informacões">
    <form id="criar">
      <h3>Bem vindo! Selecione a opção desejada</h3>
      <p><a th:href="@{/logout}"><button type="button">Sair</button></a></p>
      <p>
        <a href="/lista">
          <button id="lista" type="button">Veja a lista de carros atualmente disponíveis</button>
        </a>
        <span sec:authorize="hasRole('GERENTE')">

        <a href="/criarCarroForm">
          <button id="registrar" type="button">Registre um novo veículo</button>
        </a>
        </span>
      </p>
    </form>
  </div>
</body>
</html>